@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* input[type="range"] {
  @apply appearance-none bg-transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  @apply rounded-full bg-gray-200;
}

input[type="range"]::-moz-range-track {
  @apply rounded-full bg-gray-200;
}

input[type="range"]::-ms-track {
  @apply rounded-full bg-green-500;
} */

/* progress bar for Safari */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  border-radius: 12px;
  background: white;
  position: relative;
}
/* progress bar for firefox */
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 16px;
  border-radius: 10px;
  background: white;
  position: relative;
  outline: none;
}
input[type="range"]::-moz-focus-outer {
  border: 0;
}

/* thumb for chrome and Safari */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background: #16a34a;
  cursor: pointer;
  position: relative;
  margin: -2px 0 0 0;
  box-sizing: border-box;
}
/* thumb while tracking for chrome and safari */
input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: #00c55e;
}

/* thumb for firefox  */

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: transparent;
  background: #16a34a;
  cursor: pointer;
  position: relative;
  /* margin: -2px 0 0 0; */
  box-sizing: border-box;
}

input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
  background: #00c55e;
}
